{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="login-form">
        <h1>Log in</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Email:</label>
                <input type="text" name="username" id="id_username" required>
            </div>
            <div class="form-group">
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            <button type="submit" class="login-btn">Log in</button>
        </form>
        <a href="{% url 'password_reset' %}">Forgot your password?</a>
        <p>By continuing with Email, you agree to Todo List App's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
    </div>
    <div class="login-image">
        <img id="welcome-image" src="{% static 'images/welcome.png' %}" alt="Welcome Image">
    </div>
</div>
{% endblock %}
