<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Todo List App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script>
        function showOptions() {
            document.getElementById('try-for-free').style.display = 'none';
            document.getElementById('options').style.display = 'flex';
            document.getElementById('welcome-image').src = "{% static 'images/header.png' %}";
        }
    </script>
</head>
<body>
    <header>
        <div class="header-left">
            <img src="{% static 'images/icon.png' %}" alt="Logo" id="logo">
            <h1>Todo List App</h1>
        </div>
        <nav>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        </nav>
    </header>
    <main>
        <div class="welcome-container">
            <div class="welcome-text">
                <h1>Welcome to Todo list App</h1>
                <p>Todo list app helps you organize your tasks efficiently</p>
                <div class="buttons" id="try-for-free">
                    <button onclick="showOptions()">Try for free</button>
                </div>
                <div id="options" style="display: none;">
                    <div id="button-container">
                        <button onclick="window.location.href='{% url 'login' %}'">Login</button>
                        <button onclick="window.location.href='{% url 'signup' %}'">Sign Up</button>
                    </div>
                    <h2>Please choice an option for using the application</h2>
                </div>
            </div>
            <div class="welcome-image">
                <img id="welcome-image" src="{% static 'images/welcome.png' %}" alt="Welcome Image">
            </div>
        </div>
    </main>
    <footer>
        <p>Todo List App</p>
        <nav>
            <p>Made by - Eva Haverdova</p>
        </nav>
    </footer>
</body>
</html>
