{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="task-container">
    <div class="header">
        <div class="task-header-actions">
            <h2 class="task-header">Task List</h2>
            <div id="task-filters" class="task-filters">
                <div class="filter-wrapper">
                    <button onclick="window.location.href='?filter=all'" class="filter-button {% if current_filter == 'all' %}active{% endif %}">All</button>
                </div>
                {% for filter in available_statuses %}
                    {% if filter != 'all' %}
                        <div class="filter-wrapper">
                            <button id="filter-{{ filter|slugify }}" onclick="window.location.href='?filter={{ filter }}'" class="filter-button {% if current_filter == filter %}active{% endif %}">{{ filter }}</button>
                            <span class="delete-filter" onclick="deleteFilter('{{ filter }}')">✖</span>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="filter-wrapper new-filter-wrapper">
                    <button id="new-filter-button" class="filter-button new-filter-button">New</button>
                </div>
            </div>
            <a href="{% url 'task_create' %}?filter={{ current_filter }}" class="create-task">Create new task</a>
        </div>
    </div>

    <div id="new-filter-form" class="new-filter-form" style="display: none;">
        <input type="text" id="new-filter-name" placeholder="Enter filter name" class="new-filter-input" maxlength="15">
        <button id="add-filter-button" class="add-filter-button">Add Filter</button>
    </div>

    <div class="task-list">
        {% for task in tasks %}
            <div class="task-item" data-status="{{ task.status.all|join:',' }}">
                <p class="task-title">{{ task.title }}</p>
                <p class="task-description">{{ task.description }}</p>
                {% if task.start_time %}
                    {% if task.status != 'completed' and task.start_time < now %}
                        <p class="due-date" style="color: red;"><strong>Start time:</strong> {{ task.start_time }}</p>
                    {% else %}
                        <p class="due-date"><strong>Start time:</strong> {{ task.start_time }}</p>
                    {% endif %}
                {% endif %}
                <div class="task-actions">
                    <form method="post" action="{% url 'task_complete' task.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="complete-button">Complete</button>
                    </form>
                    <a href="{% url 'task_edit' task.id %}" style="color: white; background-color: #007CB5; font-weight: medium; padding: 5px 10px; font-size: 14px; cursor: pointer; text-decoration: none; border-radius: 4px; display: inline-block; border: 2px solid #007CB5;">Edit</a>
                    <form method="post" action="{% url 'task_delete' task.id %}" style="display:inline">
                        {% csrf_token %}
                        <button type="button" class="delete-button" style="background-color: #FE3535;" onclick="confirmDelete('{{ task.id }}')">&#128465;</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div id="confirm-dialog" class="confirm-dialog hidden">
    <p>Are you sure you want to delete this task?</p>
    <button id="confirm-yes">Yes</button>
    <button id="confirm-no">No</button>
</div>


<div id="alert-box" class="alert-box hidden" style="display: none;">Maximum number of filters reached.</div>

<script>

    let taskIdToDelete = null;

function confirmDelete(taskId) {
    taskIdToDelete = taskId;
    document.getElementById('confirm-dialog').classList.remove('hidden');
}

document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('confirm-yes').addEventListener('click', function() {
        if (taskIdToDelete) {
            document.querySelector(`form[action$="/${taskIdToDelete}/"]`).submit();
        }
    });

    document.getElementById('confirm-no').addEventListener('click', function() {
        document.getElementById('confirm-dialog').classList.add('hidden');
        taskIdToDelete = null;
    });
});

    function toggleNewFilterForm() {
        const form = document.getElementById('new-filter-form');
        form.style.display = form.style.display === 'none' ? 'flex' : 'none';
        console.log("Toggle new filter form: " + form.style.display);
    }

    function addNewFilter() {
        const filterName = document.getElementById('new-filter-name').value;
        const filterCount = document.querySelectorAll('.filter-wrapper').length; // Počítajte existujúce filtre

        if (filterCount >= 7) { // Skontrolujte, či už nie je 6 filtrov + 1 pre tlačidlo "nový filter"
            console.log('Maximum number of filters reached.');
            showAlert('Maximum number of filters reached.');
            return;
        }
        if (filterName && filterName.length <= 15) {
            fetch('/tasks/add_filter/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ name: filterName })
            }).then(response => response.json()).then(data => {
                console.log("Response status: " + data.status);
                console.log("Response data: ", data);
                if (data.status === 'ok') {
                    location.reload();
                } else {
                    showAlert('Failed to add filter.');
                }
            }).catch(error => {
                console.error('Error adding filter:', error);
                showAlert('Failed to add filter.');
            });
        } else {
            showAlert('Filter name is invalid or too long.');
        }
    }

    function deleteFilter(filterName) {
        console.log(`Attempting to delete filter: ${filterName}`);
        fetch(`/tasks/delete_filter/?name=${encodeURIComponent(filterName)}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            }
        }).then(response => response.json()).then(data => {
            console.log("Response status: " + data.status);
            if (data.status === 'ok') {
                console.log(`Filter ${filterName} deleted successfully.`);
                location.reload();
            } else {
                console.log(`Failed to delete filter: ${filterName}`);
                showAlert('Failed to delete filter.');
            }
        }).catch(error => {
            console.error('Error deleting filter:', error);
            showAlert('Failed to delete filter.');
        });
    }

    function showAlert(message) {
        console.log('Showing alert:', message);
        const alertBox = document.getElementById('alert-box');
        alertBox.innerText = message;
        alertBox.classList.remove('hidden');
        alertBox.style.display = 'block';
        setTimeout(() => {
            alertBox.classList.add('hidden');
            alertBox.style.display = 'none';
        }, 3000);
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.addEventListener('DOMContentLoaded', function() {
        console.log("Script loaded");

        document.getElementById('new-filter-button').addEventListener('click', function() {
            console.log("New button clicked");
            toggleNewFilterForm();
        });

        document.getElementById('add-filter-button').addEventListener('click', function() {
            console.log("Add filter button clicked");
            addNewFilter();
        });
    });
</script>
{% endblock %}
