{% extends 'base_generic.html' %}

{% block content %}
<style>
    .task-item {
        border: 2px solid #cccccc;
        background-color: #f2f2f2;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        list-style-type: none;
    }
    .task-title {
        font-size: 18px;
        color: #007CB5;
        font-weight: bold;
    }
    .task-description {
        color: #333333;
    }
    .start-time {
        color: #666666;
    }
    .task-actions {
        margin-top: 5px;
    }
</style>

<h2 style="color: #007CB5;">Task List</h2>
<ul>
    {% for task in tasks %}
        <div class="task-item">
            <li>
                <p class="task-title">{{ task.title }}</p>
                <p class="task-description">{{ task.description }}</p>
                {% if task.start_time %}
                    <p class="start-time"><strong>Start time:</strong> {{ task.start_time }}</p>
                {% endif %}
                <form method="post" action="{% url 'task_complete' task.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background-color: #007CB5; color: white;">Complete</button>
                </form>
                <a href="{% url 'task_edit' task.id %}" style="margin-left: 10px; color: #007CB5;">Edit</a>
            </li>
        </div>
    {% endfor %}
</ul>
<a href="{% url 'task_create' %}" style="color: #007CB5;">Create new task</a>
{% endblock %}
